<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrintVendo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Bunifu.Core" publicKeyToken="E8E24CCD28363FE9" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <PrintVendo.My.MySettings>
   <setting name="flash_Drive" serializeAs="String">
    <value>D:\</value>
   </setting>
   <setting name="wifi_Storage_Path" serializeAs="String">
    <value>C:\PrintVendoFiles\WifiReceived</value>
   </setting>
   <setting name="blank_Page_Price" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="bw_Page_Price" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="colored_Page_Price" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="coin_Slot_Port" serializeAs="String">
    <value />
   </setting>
   <setting name="printer_Name" serializeAs="String">
    <value>Canon G1010 series</value>
   </setting>
   <setting name="system_Pin" serializeAs="String">
    <value>00000000</value>
   </setting>
   <setting name="server_Link" serializeAs="String">
    <value />
   </setting>
   <setting name="scan_Page_Price" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="scanned_Images" serializeAs="String">
    <value>C:\PrintVendoFiles\ScannedImages</value>
   </setting>
   <setting name="cache_Path" serializeAs="String">
    <value>C:\PrintVendoFiles\CacheFiles</value>
   </setting>
   <setting name="LongPrinterName" serializeAs="String">
    <value>Canon G1010 series</value>
   </setting>
   <setting name="A4PrinterName" serializeAs="String">
    <value>Microsoft Print to PDF</value>
   </setting>
  </PrintVendo.My.MySettings>
 </userSettings>
</configuration>
